<div class="banner-container">
  <% if @articles.any? %>
    <div class="banner-row">
      <!-- Conteneur de l'image de l'article principal -->
      <div class="banner-image-container" style="position: relative;">
        <% if @articles.first.image.attached? %>
          <!-- Lien vers l'article principal avec image -->
          <%= link_to article_path(@articles.first) do %>
            <%= image_tag @articles.first.optimized_image, class: 'banner-image' %>
          <% end %>
        <% else %>
          <!-- Message si aucune image n'est attachée -->
          <p class="banner-no-image">Aucune image disponible</p>
        <% end %>

        <!-- Badge du compteur de commentaires -->
        <%= render 'articles/comment_count_badge', article: @articles.first %>
      </div>

      <!-- Conteneur pour le texte et les métadonnées de l'article -->
      <div class="banner-text-container">
  <%= render 'articles/tags', article: @articles.first %>
  <h5 class="banner-title">
    <%= link_to @articles.first.title, article_path(@articles.first) %>
  </h5>

<p class="banner-excerpt">
<%= simple_format(article.content) %>
</p>

</div>
    </div>
  <% end %>
</div>

<style>
  p {
  color: #000000; /* Noir */
}
.banner-excerpt {
  margin: 10px;
}

.comment-count-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color:rgba(224, 224, 224, 0.81); /* Couleur de fond uniforme */
  color: #007bff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 11px; /* Coins arrondis pour l'effet neumorphique */
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  box-shadow: 1px 1px 2px #bebebe, 0px 0px 1px #ffffff; /* Ombres pour l'effet de relief */
  transition: all 0.3s ease-in-out;
}

.comment-count-badge:hover {
  background-color:rgba(224, 224, 224, 0.92);
  transform: scale(1.05); /* Légère augmentation de la taille au survol */
}


  /* Si le nombre est plus grand, ajuster la taille */
  &.large-count {
    font-size: 14px;
    padding: 10px 15px;
    min-width: 40px;
    min-height: 40px;
  }


</style>
