<div class="banner-container ">
  <% if @articles.any? %>
    <div class="banner-row ">
      <!-- Div de l'image -->
      <div class="banner-image-container " style="position: relative;">
        <% if @articles.first.image.attached? %>
          <%= link_to article_path(@articles.first) do %>
            <%= image_tag @articles.first.image, class: 'banner-image' %>
          <% end %>
        <% else %>
          <p class="banner-no-image">Aucune image disponible</p>
        <% end %>

        <!-- Badge compteur cliquable -->
        <%= link_to article_path(@articles.first, anchor: 'comments') do %>
          <div class="comment-count-badge">
            <%= @articles.first.comments.size %>
          </div>
        <% end %>
      </div>




<div class="banner-text-container">
  <!-- Tags -->
<div class="banner-tags">
<% # Initialisation des tags prioritaires %>
<% prioritized_tags = [] %>

<% # Ajout des tags prioritaires s'ils existent %>
<% prioritized_tags << @articles.first.tags.find { |tag| tag.category.name == "forces" } if @articles.first.tags.any? { |tag| tag.category.name == "forces" } %>
<% prioritized_tags << @articles.first.tags.find { |tag| tag.category.name == "nation" } if @articles.first.tags.any? { |tag| tag.category.name == "nation" } %>

<% # Suppression des tags ajoutés pour éviter les doublons et ajout d'autres tags si nécessaire %>
<% additional_tags = @articles.first.tags - prioritized_tags %>
<% prioritized_tags.concat(additional_tags.first(2 - prioritized_tags.size)) %>

<% # Affichage des tags prioritaires %>
<% prioritized_tags.each do |tag| %>
  <%= link_to tag.name, tag_path(tag), class: 'tag-link' %>
<% end %>



  <% # Ajout des autres tags restants sans doublons %>
  <% remaining_tags = @articles.first.tags.reject { |tag| prioritized_tags.include?(tag) } %>
  <% prioritized_tags += remaining_tags %>

</div>


  <!-- Date de publication -->
  <span class="banner-date">
    <%= @articles.first.created_at.strftime("Publié le %d/%m/%Y") %>
  </span>

  <!-- Titre -->
  <h5 class="banner-title">
    <%= link_to @articles.first.title, article_path(@articles.first) %>
  </h5>


</div>



    </div>
  <% end %>
</div>
