<div class="banner-container">
  <% if @articles.any? %>
    <div class="banner-row">
      <!-- Conteneur de l'image de l'article principal -->
      <div class="banner-image-container" style="position: relative;">
        <% if @articles.first.image.attached? %>
          <!-- Lien vers l'article principal avec image -->
          <%= link_to article_path(@articles.first) do %>
            <%= image_tag @articles.first.optimized_image, class: 'banner-image' %>
          <% end %>
        <% else %>
          <!-- Message si aucune image n'est attachée -->
          <p class="banner-no-image">Aucune image disponible</p>
        <% end %>

        <!-- Badge du compteur de commentaires -->
        <%= render 'articles/comment_count_badge', article: @articles.first %>
      </div>

      <!-- Conteneur pour le texte et les métadonnées de l'article -->
      <div class="banner-text-container">
  <%= render 'articles/tags', article: @articles.first %>
  <h5 class="banner-title">
    <%= link_to @articles.first.title, article_path(@articles.first) %>
  </h5>

<p class="banner-excerpt">
  <%= link_to truncate(ActionController::Base.helpers.strip_tags(article.content), length: 550), article_path(article) %>
</p>

</div>
    </div>
  <% end %>
</div>
