<div class="last-articles-container">
  <div class="last-articles-separator">
    <span class="last-articles-title">Derniers articles</span>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <% @articles.drop(1).each do |article| %>
      <div class="col-lg-4 col-md-6 col-12 last-article-card">
        <div class="card-2 last-article">
          <% if article.image.attached? %>
            <!-- Image de l'article -->
            <div class="last-article-image-container" style="position: relative;">
              <%= link_to article_path(article) do %>
                <%= image_tag article.image, class: 'last-article-image' %>
              <% end %>
              <!-- Badge compteur cliquable -->
              <%= link_to article_path(article, anchor: 'comments') do %>
                <div class="comment-count-badge">
                  <%= article.comments.size %>
                </div>
              <% end %>
            </div>
          <% else %>
            <p class="last-article-no-image">Aucune image disponible</p>
          <% end %>

          <div class="last-article-body">
            <!-- Tags -->
            <!-- Tags -->
            <div class="last-article-tags">
              <% # Initialisation des tags prioritaires %>
              <% prioritized_tags = [] %>

              <% # Ajout des tags prioritaires s'ils existent %>
              <% prioritized_tags << article.tags.find { |tag| tag.category.name == "forces" } if article.tags.any? { |tag| tag.category.name == "forces" } %>
              <% prioritized_tags << article.tags.find { |tag| tag.category.name == "nation" } if article.tags.any? { |tag| tag.category.name == "nation" } %>

              <% # Suppression des doublons %>
              <% additional_tags = article.tags - prioritized_tags %>
              <% prioritized_tags.concat(additional_tags.first(2 - prioritized_tags.size)) %>

              <% # Affichage des tags prioritaires (limités à 2) %>
              <% prioritized_tags.first(2).each do |tag| %>
                <%= link_to tag.name, tag_path(tag), class: 'tag-link' %>
              <% end %>

              <% # Affichage des autres tags si besoin, en limité à 2 tags max %>
              <% remaining_tags = article.tags.reject { |tag| prioritized_tags.include?(tag) } %>
              <% remaining_tags.first(2 - prioritized_tags.size).each do |tag| %>
                <%= link_to tag.name, tag_path(tag), class: 'tag-link' %>
              <% end %>
            </div>

            <!-- Date de publication -->
            <span class="last-article-date">
              <%= article.created_at.strftime("Publié le %d/%m/%Y") %>
            </span>

            <!-- Titre -->
            <h5 class="last-article-title">
              <%= link_to article.title, article_path(article) %>
            </h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
