<div class="last-articles-container">
  <div class="last-articles-separator">
    <span class="last-articles-title">Derniers articles</span>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <% @articles.drop(1).each do |article| %>
      <div class="col-lg-4 col-md-6 col-12 last-article-card">
        <div class="card-2 last-article">
          <% if article.image.attached? %>
            <!-- Image de l'article -->
            <div class="last-article-image-container" style="position: relative;">
              <%= link_to article_path(article) do %>
                <%= image_tag article.image, class: 'last-article-image' %>
              <% end %>
              <!-- Badge compteur cliquable -->
              <%= link_to article_path(article, anchor: 'comments') do %>
                <div class="comment-count-badge">
                  <%= article.comments.size %>
                </div>
              <% end %>
            </div>
          <% else %>
            <p class="last-article-no-image">Aucune image disponible</p>
          <% end %>

          <div class="last-article-body">
            <!-- Titre -->
            <h5 class="last-article-title">
              <%= link_to article.title, article_path(article) %>
            </h5>

            <!-- Date et Tags -->
            <div class="last-article-meta">
              <span><%= article.created_at.strftime("Publié le %d/%m/%Y") %></span>
              <% tags = article.tags.limit(2).map(&:name).join(" ") %>
              <span> <%= tags %></span>
            </div>

            <!-- Résumé de l'article -->
            <p class="last-article-text">
              <%= truncate(article.content, length: 100) %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<style>
  .last-article-image-container {
  position: relative;
}

.comment-count-badge {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: darkgrey;
  }
}

</style>
