<div class="banner-container mt-4">
  <div class="last-articles-container">
    <!-- Section de titre du tag -->
    <div class="last-articles-separator">
      <span class="last-articles-title"><%= @tag.name %></span>
    </div>

    <!-- Liste des articles associés au tag -->
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-lg-4 col-md-6 col-12 last-article-card">
          <div class="card last-article">

            <!-- Affichage de l'image de l'article, ou image par défaut -->
            <% if article.image.attached? %>
              <%= link_to article_path(article), class: 'text-decoration-none' do %>
                <%= image_tag article.image, class: 'last-article-image mb-2' %>
              <% end %>
            <% else %>
              <p class="last-article-no-image">Aucune image disponible</p>
            <% end %>

            <!-- Tags et date de publication -->
            <%= render 'articles/tags', article: article %>

            <!-- Titre et extrait de l'article avec lien vers la page de l'article -->
            <div class="last-article-body">
              <h5 class="last-article-title">
                <%= link_to article.title, article_path(article), class: 'text-decoration-none' %>
              </h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


