<% if (@articles && @articles.total_pages > 1) || (@tags && @tags.total_pages > 1) %>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <% if @articles && @articles.prev_page %>
        <li class="page-item">
          <%= link_to 'Previous', url_for(page: @articles.prev_page), class: 'page-link' %>
        </li>
      <% elsif @tags && @tags.prev_page %>
        <li class="page-item">
          <%= link_to 'Previous', url_for(page: @tags.prev_page), class: 'page-link' %>
        </li>
      <% else %>
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
      <% end %>

      <% if @articles %>
        <% (1..@articles.total_pages).each do |page| %>
          <li class="page-item <%= 'active' if page == @articles.current_page %>">
            <%= link_to page, url_for(page: page), class: 'page-link' %>
          </li>
        <% end %>
      <% elsif @tags %>
        <% (1..@tags.total_pages).each do |page| %>
          <li class="page-item <%= 'active' if page == @tags.current_page %>">
            <%= link_to page, url_for(page: page), class: 'page-link' %>
          </li>
        <% end %>
      <% end %>

      <% if @articles && @articles.next_page %>
        <li class="page-item">
          <%= link_to 'Next', url_for(page: @articles.next_page), class: 'page-link' %>
        </li>
      <% elsif @tags && @tags.next_page %>
        <li class="page-item">
          <%= link_to 'Next', url_for(page: @tags.next_page), class: 'page-link' %>
        </li>
      <% else %>
        <li class="page-item disabled">
          <span class="page-link">Next</span>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
