<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body m-3">
          <div class="title">
            <h1>Gestion des cookies</h1>
          </div>
          <br>

          <% if user_signed_in? %>
            <p>
              Vous êtes connecté en tant que <strong>
              <%= link_to current_user.name, edit_user_registration_path, class: 'link-user' %> </strong>
            </p>
          <% else %>
            <h4>Bienvenue,</h4>
          <% end %>

          <div class="cookies-status mt-3">
            <% if user_signed_in? %>
              <p>
                Vos cookies pour Defblog sont actuellement
                <strong class="<%= current_user.cookies_consent ? 'cookies-activated' : 'cookies-deactivated' %>">
                  <%= current_user.cookies_consent ? "Activés" : "Désactivés" %>
                </strong>
              </p>
            <% else %>
              <p>
                Vous n'êtes pas connecté. L'état actuel de vos préférences de cookies est stocké dans un cookie :
                <strong>
                  <%= cookies[:cookies_consent] == "true" ? "Accepté" : "Refusé" %>
                </strong>
              </p>
            <% end %>
          </div>

<%= form_with url: update_consent_cookies_path, method: :post, local: true, id: 'cookies-form' do |f| %>
  <div class="cookies-toggle">
  <span class="status-text">
    <%= @cookies_consent ? "Cookies Activés" : "Cookies Désactivés" %>
  </span>
  <label class="switch">
    <%= f.check_box :cookies_consent, { checked: @cookies_consent, id: 'cookies-toggle' } %>
    <span class="slider"></span>
  </label>
</div>
<% end %>

          <div class="cookies-info mt-4">
            <h2><strong>Gestion des cookies et respect du RGPD</strong></h2>
            <p>
              Conformément aux dispositions du Règlement Général sur la Protection des Données (RGPD), nous veillons à respecter votre vie privée et à protéger vos données personnelles.
            </p>
            <p>
              Vous avez la possibilité de modifier vos préférences de cookies à tout moment. Ces cookies nous permettent de :
            </p>
            <ul>
              <li><strong>Cookies essentiels :</strong> assurer le bon fonctionnement de notre site (non désactivables).</li>
              <li><strong>Cookies statistiques :</strong> analyser l’utilisation de notre site pour améliorer votre expérience.</li>
            </ul>
            <p>
              Vous pouvez choisir d’accepter ou de refuser chaque type de cookies en fonction de vos préférences. Nous vous encourageons à les configurer selon vos besoins.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Inclusion du fichier JavaScript pour les cookies-->
<%= javascript_include_tag "cookies/cookies_management.js", defer: true %>
