<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">

        <h1>Préférences de cookies</h1>

        <div class="cookies-info mt-4">
  <h2>Gestion des cookies et respect du RGPD</h2>
  <p>
    Conformément aux dispositions du Règlement Général sur la Protection des Données (RGPD), nous veillons à respecter votre vie privée et à protéger vos données personnelles.
  </p>
  <p>
    Vous avez la possibilité de modifier vos préférences de cookies à tout moment. Ces cookies nous permettent de :
  </p>
  <ul>
    <li><strong>Cookies essentiels :</strong> assurer le bon fonctionnement de notre site (non désactivables).</li>
    <li><strong>Cookies statistiques :</strong> analyser l’utilisation de notre site pour améliorer votre expérience.</li>

  </ul>
  <p>
    Vous pouvez choisir d’accepter ou de refuser chaque type de cookies en fonction de vos préférences. Nous vous encourageons à les configurer selon vos besoins.
  </p>
</div>


        <div class="cookies-status mt-3">
  <h2>État actuel des préférences de cookies</h2>
  <% if user_signed_in? %>
    <p>
      Vous êtes connecté. L'état actuel de vos préférences de cookies est :
      <strong>
        <%= current_user.cookies_consent ? "Accepté" : "Refusé" %>
      </strong>
    </p>
  <% else %>
    <p>
      Vous n'êtes pas connecté. L'état actuel de vos préférences de cookies est stocké dans un cookie :
      <strong>
        <%= cookies[:cookies_consent] == "true" ? "Accepté" : "Refusé" %>
      </strong>
    </p>
  <% end %>
</div>


<%= form_with url: update_consent_cookies_path, method: :post, local: true do |f| %>
  <div>
    <label for="cookies_consent_true">Accepter tous les cookies</label>
    <%= f.radio_button :cookies_consent, true, checked: @cookies_consent %>
  </div>

  <div>
    <label for="cookies_consent_false">Refuser les cookies</label>
    <%= f.radio_button :cookies_consent, false, checked: !@cookies_consent %>
  </div>


            <div class="form-actions m-3">
              <%= f.submit "Mettre à jour", class: "btn btn-primary btn-rounded w-100" %>

            </div>
<% end %>


      </div>
    </div>
  </div>
</div>
</div>


<style>
  .cookies-info {
  background-color: #f9f9f9;
  padding: 15px;

  font-size: 16px;
  line-height: 1.5;
}
.cookies-info h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}
.cookies-info ul {
  list-style-type: disc;
  padding-left: 20px;
}
.cookies-info ul li {
  margin-bottom: 8px;
}

</style>
