<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
     <title><%= content_for?(:title) ? yield(:title) : "DefBlog défense" %></title>
    <title>DefBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Lien vers les styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", media: 'all',"data-turbo-track": "reload" %>
    <!-- Importation de l'importmap et des scripts -->
    <!--  <%= javascript_importmap_tags %> -->
      <!-- Lien vers le fichier JS de Bootstrap -->
  <script type="module" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"></script>
</head>
    <!-- Ajout d'un script externe pour la gestion des modules JavaScript -->
    <script type="module" src="https://unpkg.com/es-module-shims@1.4.1/dist/es-module-shims.js" async></script>

   <link rel="icon" href="<%= asset_path 'logo.png' %>" type="image/x-icon">


</head>

  </head>

  <body>
    <!-- Navigation -->
    <%= render "shared/navbar" %>

    <!-- Flash messages (si existants) -->
    <%= render "shared/flashes" %>

    <!-- Contenu principal de la page -->
    <%= yield %>
  </body>
</html>
